.custom-accordion {
    display: grid;
    gap: 13px;

    .accordion-item {
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid rgba(var(--content-color), 0.1);

        .accordion-header {
            .accordion-button {
                background-color: rgba(var(--white), 1);
                box-shadow: unset;
                padding: 20px 24px;
                z-index: 0;
                font-size: 20px;
                color: rgba(var(--title-color), 1);
                font-weight: 500;
                border-radius: 8px;

                &::after {
                    content: "\ea4e";
                    @include font;
                    background: unset;
                    @include pseudowh($width: auto, $height: unset);
                    color: rgba(var(--title-color), 0.8);
                }
            }
        }

        .accordion-body {
            padding: 0 24px 20px;
            // padding-top: 0;
            // padding-inline: 24px;
            // padding-bottom: 20px;
        }
    }
}

.delivery-accordion {
    margin-top: 12px;

    >.accordion-item {
        border: unset;
        background-color: unset;

        >.accordion-header {
            .accordion-button {
                padding: 0;
                text-decoration: underline;
                background-color: transparent;
                color: rgba(var(--title-color), 1);
                box-shadow: unset;
                align-items: center;
                justify-content: space-between;

                &::after {
                    content: unset;
                }

                &:not(.collapsed) {
                    i {
                        transform: rotate(-180deg);
                    }
                }

                i {
                    transition: transform 0.2s ease-in-out;
                }
            }
        }

        >.accordion-collapse {
            >.accordion-body {
                padding: 9px 0 0;

                .delivery-accordion-box {
                    margin-top: 7px;

                    .accordion-item {
                        border-radius: 0;
                        border: unset;

                        .accordion-button {
                            background-color: rgba(var(--base-gray), 1);
                            color: rgba(var(--content-color), 1);
                            border-radius: 0;
                            z-index: 0;
                            box-shadow: unset;
                            justify-content: space-between;

                            &::after {
                                content: unset;
                            }

                            &:not(.collapsed) {
                                i {
                                    transform: rotate(-180deg);
                                }
                            }

                            i {
                                transition: transform 0.2s ease-in-out;
                            }
                        }

                        .accordion-body {
                            padding: 10px 20px 15px;
                            border: 1px solid rgba(var(--content-color), 0.1);
                            border-top: 0;

                            textarea {
                                &.form-control {
                                    padding: 13px;
                                    border: unset;
                                    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                                    border-radius: 0px;
                                    background-color: rgba(var(--base-gray), 1);
                                    color: rgba(var(--content-color), 1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.checkout-payment-accordion {
    .accordion-item {
        background-color: transparent;
        color: rgba(var(--title-color), 1);
        border: 1px solid rgba(var(--border-color), 1);
        border-radius: calc(6px + (9 - 6) * ((100vw - 320px) / (1920 - 320)));
        position: relative;
        overflow: hidden;

        &:has(.accordion-header .form-check .form-check-input:checked) {
            &::before {
                @include pos;
                @include pseudowh($width: 3px, $height: 100%);
                top: 0;
                left: 0;
                border-left: 3px solid rgba(var(--primary-color), 1);
            }

            .accordion-header {
                .form-check {
                    .form-check-label {
                        .circle {
                            &::before {
                                border-color: rgba(var(--primary-color), 1);
                            }

                            &::after {
                                transform: translate(-50%, -50%) scale(1);
                            }
                        }
                    }
                }
            }
        }

        +.accordion-item {
            margin-top: 11px;
        }

        .accordion-header {
            padding: 0;
            position: relative;
            cursor: pointer;

            .form-check {
                padding: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
                min-height: unset;
                display: flex;
                align-items: center;
                gap: 12px;
                float: unset;
                margin: 0;
                position: relative;

                .form-check-input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include pseudowh;
                    opacity: 0;
                    visibility: hidden;
                    float: unset;
                    margin: 0;
                }

                // .form-check-input {
                //     float: unset;
                //     margin: 0;
                //     border: none;
                //     position: relative;
                //     background-image: none;
                //     background-color: transparent;
                //     box-shadow: none;
                //     filter: none;
                //     margin-top: -4px;
                //     @include pseudowh($width: 18px, $height: 18px);

                //     &::before {
                //         @include pos;
                //         @include center(both);
                //         @include pseudowh($width: 18px, $height: 18px);
                //         border-radius: 100%;
                //         border: 1px solid rgba(var(--border-color), 1);
                //     }

                //     &::after {
                //         @include pos;
                //         top: 50%;
                //         left: 50%;
                //         transform: translate(-50%, -50%) scale(0);
                //         @include pseudowh($width: 11px, $height: 11px);
                //         border-radius: 100%;
                //         background-color: rgba(var(--primary-color), 1);
                //         transition: all 0.2s ease-in-out;
                //     }

                //     &:checked {
                //         &::before {
                //             border-color: rgba(var(--primary-color), 1);
                //         }

                //         &::after {
                //             transform: translate(-50%, -50%) scale(1);
                //         }

                //         ~.form-check-label {
                //             color: rgba(var(--title-color), 1);
                //         }
                //     }
                // }

                .form-check-label {
                    display: flex;
                    line-height: 1;
                    align-items: center;
                    gap: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
                    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--content-color), 1);
                    font-weight: 400;
                    width: 100%;
                    cursor: pointer;

                    .circle {
                        float: unset;
                        margin: 0;
                        border: none;
                        position: relative;
                        background-image: none;
                        background-color: transparent;
                        box-shadow: none;
                        filter: none;
                        margin-top: calc(-1.5px + (-4 - -1.5) * ((100vw - 320px) / (1920 - 320)));
                        @include pseudowh($width: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))), $height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))));

                        &::before {
                            @include pos;
                            @include center(both);
                            @include pseudowh($width: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))), $height: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))));
                            border-radius: 100%;
                            border: 1px solid rgba(var(--border-color), 1);
                        }

                        &::after {
                            @include pos;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            @include pseudowh($width: calc(10px + (11 - 10) * ((100vw - 320px) / (1920 - 320))), $height: calc(10px + (11 - 10) * ((100vw - 320px) / (1920 - 320))));
                            border-radius: 100%;
                            background-color: rgba(var(--primary-color), 1);
                            transition: all 0.2s ease-in-out;
                        }

                        &:checked {
                            &::before {
                                border-color: rgba(var(--primary-color), 1);
                            }

                            &::after {
                                transform: translate(-50%, -50%) scale(1);
                            }

                            ~.form-check-label {
                                color: rgba(var(--title-color), 1);
                            }
                        }
                    }

                    a {
                        text-decoration: underline;
                        color: rgba(var(--title-color), 1);
                    }
                }
            }
        }

        .accordion-body {
            padding: 0 calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320))) calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
            // padding-top: 0;

            p {
                color: rgba(var(--content-color), 0.9);
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));

                i {
                    color: rgba(var(--title-color), 1);
                    font-size: 21px;
                    line-height: 1;
                }

                span {
                    text-decoration: underline;
                    color: rgba(var(--title-color), 1);
                }
            }
        }
    }
}