@use "../utils/mixin/common";

/**=====================
    2.2 Brand CSS
==========================**/
.brand-section {
    .brand-box {
        background-color: rgba(var(--white), 1);
        padding: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))) calc(17px + (36 - 17) * ((100vw - 320px) / (1920 - 320)));
        box-shadow: -2.47954px 3.71931px 12.3977px rgba(14, 109, 91, 0.06);
        border-radius: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
        text-align: center;
        border: 1px solid transparent;
        transition: 0.3s ease-in-out;
        display: block;

        &:hover {
            border-color: rgba(var(--border-color), 1);
            box-shadow: 0 0 10px rgba(54, 97, 79, 0.1);
        }

        img {
            @include common.pseudowh($width: 100%, $height: 50px);
            object-fit: contain;
        }
    }
}

.brand-slider2 {
    z-index: 0;

    .brand-image-box {
        @include common.pseudowh($width: 100%, $height: 80px);

        img {
            @extend %img-contain;
            object-position: center;
        }
    }
}