@use "../utils/mixin/common";

/**=====================
    2.3 breadcrumb scss
==========================**/
.breadcrumb-section {
    background-color: rgba(var(--white), 1);

    body.dark & {
        background-color: rgba(var(--white), 0.7);
    }

    .breadcrumb-contain {
        padding: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320))) 0;
        text-align: center;
        color: rgba(var(--black), 1);
        display: flex;
        align-items: center;

        @include common.max(480px) {
            display: block;
        }

        h2 {
            font-weight: 500;
            font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 0;

            @include common.max(480px) {
                text-align: center;
                margin-bottom: 8px;
            }
        }

        .search-box-breadcrumb {
            position: relative;
            width: 70%;
            margin: 0 auto;

            @include common.max(575.98px) {
                width: 90%;
            }

            @include common.max(360px) {
                width: 100%;
            }

            input {
                width: 100%;
                border: none;
                border-radius: 6px;
                font-size: 15px;
            }

            i {
                position: absolute;
                @include common.center(vertical);
                right: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
                color: rgba(var(--content-color), 1);
                font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        nav {
            margin-left: auto;

            [dir="rtl"] & {
                margin-left: unset;
                margin-right: auto;
            }

            .breadcrumb {
                @include common.flex_common;

                .breadcrumb-item {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1;

                    i {
                        font-size: 17px;
                        line-height: 1;
                    }

                    &.active {
                        color: rgba(var(--content-color), 1);
                        margin-top: 2px;
                    }

                    +.breadcrumb-item {
                        position: relative;
                        display: flex;

                        a {
                            color: rgba(var(--title-color), 1);
                        }

                        &::before {
                            content: "/";
                            color: rgba(var(--title-color), 0.3);
                        }
                    }
                }
            }
        }

        .order-number-contain {
            display: flex;
            align-items: center;

            li {
                position: relative;

                +li {
                    margin-left: 20px;
                    padding-left: 20px;

                    &::before {
                        top: calc(50% - 2px);
                        @include common.pos;
                        transform: translateY(-50%);
                        left: 0;
                        @include common.pseudowh($width: 4px, $height: 4px);
                        border-radius: 100%;
                        background-color: rgba(var(--content-color), 1);
                    }
                }

                h3 {
                    font-size: 28px;
                    font-weight: 600;
                }

                h5 {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgba(var(--content-color), 1);
                }
            }
        }
    }
}

.faq-breadcrumb {
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;

    .breadcrumb-contain {
        padding: calc(26px + (60 - 26) * ((100vw - 320px) / (1920 - 320))) 0;
        text-align: center;
        color: rgba(var(--title-color), 1);
        display: block;

        h2 {
            font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 700;
            margin-top: -6px;
            text-transform: uppercase;
        }

        p {
            margin: calc(11px + (16 - 11) * ((100vw - 320px) / (1920 - 320))) auto 0;
            color: rgba(var(--content-color), 1);
            width: 50%;
            line-height: 1.7;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));

            @include common.max(1660px) {
                width: 60%;
            }

            @include common.max(1366px) {
                width: 70%;
            }

            @include common.max(991px) {
                width: 90%;
            }

            @include common.max(767px) {
                width: 100%;
            }

            span {
                display: inline;
            }
        }

        .faq-form-tag {
            position: relative;
            margin: calc(18px + (35 - 18) * ((100vw - 320px) / (1920 - 320))) auto 0;
            width: 50%;

            @include common.max(1660px) {
                width: 60%;
            }

            @include common.max(1366px) {
                width: 70%;
            }

            @include common.max(991px) {
                width: 90%;
            }

            @include common.max(767px) {
                width: 100%;
            }

            .input-group {
                background-color: rgba(var(--white), 1);

                i {
                    display: flex;
                    align-items: center;
                    padding: 0 calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--primary-color), 1);
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                }

                .form-control {
                    padding-left: 0;
                    border: none;

                    &:focus {
                        background-color: transparent;
                    }
                }

                .faq-dropdown-menu {
                    li {
                        display: block;
                    }
                }

                .faq-dropdown-button {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 600;
                    color: rgba(var(--primary-color), 1);
                    z-index: 0;

                    &::after {
                        content: unset;
                    }

                    i {
                        position: relative;
                        padding: 0;
                        margin-left: 5px;
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                    }
                }
            }
        }
    }
}