@use "../utils/mixin/common";

/**=====================
    2.13 Rating CSS
==========================**/
.rating {
    display: flex;
    align-items: center;
    gap: 2px;

    li {
        line-height: 1;

        i {
            font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--content-color), 0.3);

            body.dark & {
                color: rgba(var(--content-color), 0.8);
            }

            &.fill {
                color: rgba(var(--rating), 1);

                body.dark & {
                    color: rgba(var(--rating), 1);
                }
            }
        }
    }
}