/**=====================
     Footer CSS
==========================**/
.footer-section {
    background-color: rgba(var(--white), 1);

    .main-footer {
        padding-block: calc(22px + (46 - 22) * ((100vw - 320px) / (1920 - 320))) calc(15px + (38 - 15) * ((100vw - 320px) / (1920 - 320)));
        border-bottom: 1px solid rgba(var(--title-color), 0.1);

        .footer-title,
        .footer-title-2 {
            margin-bottom: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));

            @include max(575px) {
                cursor: pointer;
                margin: 0;

                // &.active {
                //     margin-bottom: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));
                // }
            }

            h4 {
                font-weight: 500;
                font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        .footer-title-2 {
            ~.footer-content-list {
                margin-top: calc(10px + (17 - 10) * ((100vw - 320px) / (1920 - 320)));
                // margin-bottom: calc(10px + 7*(100vw - 320px)/1600);
            }
        }

        .footer-content-list {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))));
            margin-bottom: calc(10px + (17 - 10) * ((100vw - 320px) / (1920 - 320)));

            li {
                width: 100%;
                display: block;

                &:first-child {
                    .content-box {
                        color: rgba(var(--primary-color), 1);
                        display: flex;
                        align-items: center;
                        gap: calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));

                        svg {
                            fill: rgba(var(--primary-color), 1);
                            @include pseudowh($width: calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320))), $height: calc(21px + (29 - 21) * ((100vw - 320px) / (1920 - 320))));

                            &.svg-theme-color {
                                fill: rgba(var(--primary-color3), 1);
                                stroke: rgba(var(--primary-color3), 1);
                            }
                        }

                        h4 {
                            width: calc(100% - calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320))) - calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320))));
                            font-weight: 400;
                            font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
                        }

                        &.theme-color4 {
                            svg {
                                fill: rgba(var(--primary-color4), 1);
                            }
                        }
                    }
                }

                .content-box {
                    color: rgba(var(--content-color), 1);
                    display: flex;
                    align-items: center;
                    gap: calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));

                    .footer-content-icon {
                        width: calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320)));
                        display: grid;
                        place-items: center;

                        svg {
                            @include pseudowh($width: 21px, $height: 21px);

                            &.content-color {
                                fill: rgba(var(--content-color), 1);
                            }
                        }
                    }

                    h5 {
                        width: calc(100% - calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320))) - calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320))));
                    }
                }
            }
        }

        .social-icon-box {
            display: flex;
            align-items: center;
            gap: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
            flex-wrap: wrap;

            .social-icon-list {
                li {
                    position: relative;

                    +li {
                        margin-left: 6px;
                        padding-left: 6px;

                        &::before {
                            @include pos;
                            @include center(vertical);
                            left: -2px;
                            @include pseudowh($width: 1px, $height: 14px);
                            background-color: rgba(var(--content-color), 0.2);
                        }
                    }

                    a {
                        color: rgba(var(--content-color), 1);
                        font-size: 17px;
                        line-height: 1;
                    }
                }
            }
        }

        .footer-list {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(4px + (9 - 4) * ((100vw - 320px) / (1920 - 320))));

            @include max(575px) {
                // margin: 0;
                margin-top: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));

                // &.active {
                //     margin-bottom: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));
                // }
            }

            li {
                width: 100%;
                display: block;

                // &:hover {
                //     a {
                //         &::before {
                //             width: 100%;
                //             background-color: rgba(var(--title-color), 0.8);
                //         }
                //     }
                // }

                a {
                    font-weight: 400;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--content-color), 1);
                    position: relative;
                    display: inline-block;
                    transition: 0.3s ease-in-out;

                    @include max(575.98px) {
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    &::before {
                        @include pos;
                        bottom: 0;
                        left: 0;
                        @include pseudowh($width: 0, $height: 2px);
                        background-color: rgba(var(--content-color), 0.3);
                        transition: 0.3s ease-in-out;

                        @include max(575.98px) {
                            position: relative;
                            inset: unset;
                            width: 5px;
                            height: 5px;
                            display: block;
                            border-radius: 100%;
                            background-color: rgba(var(--title-color), 0.7);
                        }
                    }

                    &:hover {
                        color: rgba(var(--title-color), 1);

                        &::before {
                            width: 100%;
                            background-color: rgba(var(--title-color), 0.8);

                            @include max(575.98px) {
                                background-color: rgba(var(--title-color), 0.7);
                                width: 5px;
                            }
                        }
                    }
                }

                p {
                    font-weight: 400;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--content-color), 1);
                    position: relative;
                    display: inline-block;
                    transition: 0.3s ease-in-out;

                    // &::before {
                    //     @include pos;
                    //     bottom: 0;
                    //     left: 0;
                    //     @include pseudowh($width: 0, $height: 2px);
                    //     background-color: rgba(var(--content-color), 1);
                    //     transition: 0.3s ease-in-out;
                    // }

                    // &:hover {
                    //     color: rgba(var(--title-color), 1);

                    //     &::before {
                    //         width: 100%;
                    //         background-color: rgba(var(--title-color), 0.8);
                    //     }
                    // }
                }
            }
        }

        .app-store-link {
            margin-top: calc(11px + (18 - 11) * ((100vw - 320px) / (1920 - 320)));
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(6px + (11 - 6) * ((100vw - 320px) / (1920 - 320))));
            align-items: center;

            li {
                a {
                    width: calc(110px + (135 - 110) * ((100vw - 320px) / (1920 - 320)));
                }
            }
        }

        &.light-b-bottom {
            border-bottom: 1px solid rgba(var(--white), 0.2);

            .footer-title {
                color: rgba(var(--white), 1);
            }

            .footer-content-list {
                li {
                    .content-box {
                        color: rgba(var(--white), 1);

                        .footer-content-icon {
                            svg {
                                &.content-color {
                                    fill: rgba(var(--white), 1);
                                }
                            }
                        }
                    }
                }
            }

            .social-icon-box {
                h5 {
                    &.text-theme-content {
                        color: rgba(var(--white), 1) !important;
                    }
                }

                .social-icon-list {
                    li {
                        a {
                            color: rgba(var(--white), 1);
                        }
                    }
                }
            }

            .footer-list {
                li {
                    a {
                        color: rgba(var(--white), 0.6);

                        &:hover {
                            color: rgba(var(--white), 1);

                            &::before {
                                background-color: rgba(var(--white), 0.8);
                            }
                        }
                    }

                    p {
                        color: rgba(var(--white), 0.6);
                    }
                }
            }
        }
    }

    .sub-footer {
        padding-block: 14px 13px;
        @include flex_common ($dis: flex, $align: center, $justify: space-between);
        flex-wrap: wrap;
        gap: 15px;

        @include max(767px) {
            justify-content: center;
        }

        @include max(575px) {
            padding-bottom: calc(79px + (86 - 79) * ((100vw - 320px) / (575 - 320)));
        }

        .payment-list {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .sub-footer-logo {
            width: calc(110px + (180 - 110) * ((100vw - 320px) / (1920 - 320)));
        }
    }
}

.footer-section-2 {
    background-color: rgb(21, 21, 21);

    .main-footer {
        padding-block: calc(22px + (46 - 22) * ((100vw - 320px) / (1920 - 320))) calc(15px + (38 - 15) * ((100vw - 320px) / (1920 - 320)));
        border-bottom: 1px solid rgba(var(--white), 0.2);

        .footer-title {
            margin-bottom: calc(8px + (18 - 8) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--white), 1);

            h4 {
                font-weight: 500;
                font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        .footer-content-list {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))));
            margin-bottom: calc(10px + (17 - 10) * ((100vw - 320px) / (1920 - 320)));

            li {
                width: 100%;
                display: block;

                &:first-child {
                    .content-box {
                        color: rgba(var(--primary-color3), 1);
                        display: flex;
                        align-items: center;
                        gap: calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));

                        svg {
                            fill: rgba(var(--primary-color3), 1);
                            @include pseudowh($width: calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320))), $height: calc(21px + (29 - 21) * ((100vw - 320px) / (1920 - 320))));
                        }

                        h4 {
                            width: calc(100% - calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320))) - calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320))));
                            font-weight: 400;
                            font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
                        }

                        &.theme-color {
                            color: rgba(var(--primary-color), 1);

                            svg {
                                fill: rgba(var(--primary-color), 1);
                            }
                        }
                    }
                }

                .content-box {
                    color: rgba(var(--white), 0.5);
                    display: flex;
                    align-items: center;
                    gap: calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));

                    .footer-content-icon {
                        width: calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320)));
                        display: grid;
                        place-items: center;

                        svg {
                            @include pseudowh($width: 21px, $height: 21px);
                            fill: rgba(var(--white), 0.5);
                        }
                    }

                    h5 {
                        width: calc(100% - calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320))) - calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320))));
                    }
                }
            }
        }

        .social-icon-box {
            display: flex;
            align-items: center;
            gap: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));

            h5 {
                color: rgba(var(--white), 0.5);
            }

            .social-icon-list {
                li {
                    position: relative;

                    &:hover {
                        a {
                            color: rgba(var(--white), 0.9);
                        }
                    }

                    +li {
                        margin-left: 6px;
                        padding-left: 6px;

                        &::before {
                            @include pos;
                            @include center(vertical);
                            left: -2px;
                            @include pseudowh($width: 1px, $height: 14px);
                            background-color: rgba(var(--white), 0.2);
                        }
                    }

                    a {
                        color: rgba(var(--white), 0.5);
                        font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                        line-height: 1;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .footer-list {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(4px + (9 - 4) * ((100vw - 320px) / (1920 - 320))));

            li {
                width: 100%;
                display: block;

                &:hover {
                    a {
                        color: rgba(var(--white), 0.9);

                        &::after {
                            width: 100%;
                            background-color: rgba(var(--white), 0.9);
                        }
                    }
                }

                a {
                    font-weight: 400;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--white), 0.5);
                    display: inline-block;
                    position: relative;
                    transition: .3s ease-in-out;

                    &::after {
                        @include pos;
                        bottom: 0;
                        left: 0;
                        @include pseudowh($width: 0, $height: 1px);
                        background-color: rgba(var(--white), 0.5);
                        transition: .3s ease-in-out;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--white), 0.5);
                    display: inline-block;
                    position: relative;
                    transition: .3s ease-in-out;

                    // &::after {
                    //     @include pos;
                    //     bottom: 0;
                    //     left: 0;
                    //     @include pseudowh($width: 0, $height: 1px);
                    //     background-color: rgba(var(--white), 0.5);
                    //     transition: .3s ease-in-out;
                    // }
                }
            }
        }

        .app-store-link {
            margin-top: calc(11px + (18 - 11) * ((100vw - 320px) / (1920 - 320)));
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(6px + (11 - 6) * ((100vw - 320px) / (1920 - 320))));
            align-items: center;

            li {
                a {
                    width: calc(110px + (135 - 110) * ((100vw - 320px) / (1920 - 320)));
                }
            }
        }
    }

    .sub-footer {
        padding-block: 14px 13px;
        @include flex_common ($dis: flex, $align: center, $justify: space-between);
        flex-wrap: wrap;
        gap: calc(7px + (15 - 7) * ((100vw - 320px) / (1920 - 320)));

        @include max(767px) {
            justify-content: center;
        }

        .payment-list {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .sub-footer-logo {
            @include pseudowh($width: calc(110px + (180 - 110) * ((100vw - 320px) / (1920 - 320))), $height: auto);
            // width: calc(110px + (180 - 110) * ((100vw - 320px) / (1920 - 320)));
            // height: auto;

            img {
                @extend %img-contain;
            }
        }
    }
}