/**=====================
     Shop Page Scss
==========================**/
/* ========== Price Range Slider ============= */
.wrapper {
    .price-input {
        width: 100%;
        display: flex;
        margin-top: 17px;
    }

    .price-input {
        .field {
            width: 100%;
            @include flex_common;
        }
    }

    .field {
        input {
            width: inherit;
            font-size: 17px;
            text-align: center;
            border: none;
            border-bottom: 1px solid rgba(var(--border-color), 1);
            background-color: transparent;
            outline: none;
        }
    }

    input {
        &[type="number"] {

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                appearance: none;
            }
        }
    }

    .price-input {
        .separator {
            width: 70px;
            font-size: 16px;
            @include flex_common;
        }
    }

    .slider {
        height: 3px;
        position: relative;
        background-color: rgba(var(--content-color), 0.3);
    }

    .slider {
        .progress {
            height: 100%;
            left: 25%;
            right: 25%;
            position: absolute;
            border-radius: 5px;
            background: rgba(var(--primary-color3), 1);
        }
    }

    .range-input {
        position: relative;
    }

    .range-input {
        input {
            position: absolute;
            @include pseudowh($width: 100%, $height: 5px);
            top: -5px;
            background: none;
            pointer-events: none;
            appearance: none;
        }
    }

    input[type="range"]::-webkit-slider-thumb {
        @include pseudowh($width: 17px, $height: 17px);
        border-radius: 100%;
        background: rgba(var(--primary-color3), 1);
        pointer-events: auto;
        box-shadow: 0 0 6px rgba(var(--black), 0.05);
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        @include pseudowh($width: 17px, $height: 17px);
        border-radius: 100%;
        background: rgba(var(--primary-color3), 1);
        pointer-events: auto;
        box-shadow: 0 0 6px rgba(var(--black), 0.05);
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
    }
}

/* ========== Price Range Slider ============= */


.custom-padding {
    padding-right: 10px;
}

.col-custom-3 {
    width: 22%;

    @include max(1399px) {
        width: 25%;
    }

    @include max(1199px) {
        width: 30%;
    }

    @include max(991px) {
        width: 0;
    }
}

.col-custom-9 {
    width: 78%;

    @include max(1399px) {
        width: 75%;
    }

    @include max(1199px) {
        width: 70%;
    }

    @include max(991px) {
        width: 100%;
    }
}

.custom-height {
    max-height: 190px;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba(var(--base-gray), 0.14);
    }

    &::-webkit-scrollbar {
        width: 4px;
        background-color: #f5f5f5;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(85, 85, 85, 0.5);
    }
}

.shop-banner-contain {
    position: relative;
    border-radius: 8px;

    .shop-banner-details {
        padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))) calc(25px + (80 - 25) * ((100vw - 320px) / (1920 - 320)));
        width: 50%;

        @include max(1400px) {
            width: 60%;
        }

        @include max(991px) {
            width: 70%;
        }

        @include max(767px) {
            width: 80%;
            background: linear-gradient(90deg, rgba(var(--white), 0.4) 0%, rgba(246, 246, 246, 0) 100%);
        }

        @include max(480px) {
            width: 100%;
        }

        h5 {
            font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
            letter-spacing: 1.5px;
        }

        h2 {
            font-size: calc(24px + (58 - 24) * ((100vw - 320px) / (1920 - 320)));
            margin: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) 0;
            line-height: 1.2;
            font-weight: 700;
        }
    }
}

.banner-description {
    margin-top: 28px;

    p {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.6;
    }
}

.category-title {
    h3 {
        display: inline-block;
        padding-bottom: 4px;
        margin-bottom: 18px;
        font-weight: 600;
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--primary-color), 1);
    }
}

.color-box-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(6px + (9 - 6) * ((100vw - 320px) / (1920 - 320)));

    li {
        a {
            @include pseudowh($width: calc(26px + (30 - 26) * ((100vw - 320px) / (1920 - 320))), $height: calc(26px + (30 - 26) * ((100vw - 320px) / (1920 - 320))));
            position: relative;
            display: block;
            border-radius: 100%;

            &.active {
                &::after {
                    opacity: 1;
                    @include pseudowh($width: calc(100% - 3px), $height: calc(100% - 3px));
                }
            }

            &::after {
                @include pos;
                @include center(both);
                @include pseudowh;
                border-radius: 100%;
                border: 2px solid rgba(var(--white), 1);
                opacity: 0;
                transition: all 0.15s ease-in-out;
            }

            &.color-1 {
                background-color: #ebdfd1;
            }

            &.color-2 {
                background-color: #ddebcf;
            }

            &.color-3 {
                background-color: #e7c6bc;
            }

            &.color-4 {
                background-color: #d4cfb9;
            }

            &.color-5 {
                background-color: #e7c6bc;
            }

            &.color-6 {
                background-color: #dfdfde;
            }

            &.color-7 {
                background-color: #ced1e2;
            }

            &.color-8 {
                background-color: #8c9dc0;
            }
        }
    }
}

.category-list {
    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))));

    li {
        display: block;
        width: 100%;

        .category-list-box {
            display: flex;
            align-items: center;
            gap: calc(9px + (11 - 9) * ((100vw - 320px) / (1920 - 320)));
            min-height: unset;
            padding: 0;
            margin: 0;

            input {
                @include pseudowh($width: 17px, $height: 17px);
                margin: 0;

                &:checked {
                    &::after {
                        border-color: rgba(var(--primary-color), 1);
                    }

                    ~.form-check-label {
                        .name {
                            color: rgba(var(--primary-color), 1);
                        }

                        .number,
                        .text-content {
                            background-color: rgba(var(--primary-color), 0.1);
                            color: rgba(var(--primary-color), 1);
                        }
                    }
                }
            }

            .form-check-label {
                cursor: pointer;
                @include flex_common ($dis: flex, $align: center, $justify: space-between);
                width: calc(100% - 17px - 11px);
                line-height: 1;
                transition: all .4s cubic-bezier(0.45, 1.8, 0.5, 0.75);

                .name {
                    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
                    color: rgba(var(--content-color), 1);
                    font-weight: 400;
                    @include line;
                    padding-top: 3px;
                    transition: all .4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
                }

                .number {
                    color: rgba(var(--content-color), 1);
                    font-weight: 400;
                    background-color: rgba(var(--light-gray), 1);
                    font-size: 12px;
                    padding: 5px 5px 3px;
                    line-height: 1;
                    border-radius: 2px;
                    margin-top: 3px;
                    transition: all .4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
                }

                .text-content {
                    color: rgba(var(--content-color), 1);
                    font-weight: 400;
                    background-color: rgba(var(--light-gray), 1);
                    font-size: 12px;
                    padding: 3px 5px;
                    transition: all .4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
                    line-height: 1;
                    border-radius: 2px;
                }
            }

            .rating {
                li {
                    i {
                        font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                    }
                }
            }
        }
    }
}

.offcanvas-button {
    margin-bottom: 14px;

    button {
        color: rgba(var(--white), 1);
        font-weight: 500;
        font-size: 16px;
        border: none;
        gap: 9px;
        display: flex;
        align-items: center;
        line-height: 1;
        position: relative;
        padding: calc(12px + (13 - 12) * ((100vw - 320px) / (1920 - 320))) 11px calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 6px;
        background-color: rgba(var(--primary-color), 1);

        i {
            font-weight: normal;
            margin-top: -5px;
        }

        &:hover,
        &:first-child:active {
            color: rgba(var(--white), 1);
            background-color: rgba(var(--primary-color3), 1);
        }
    }
}

.filter-category-2 {
    background-color: rgba(var(--white), 1);
    border-radius: 5px;

    .filter-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 17px 21px 14px;
        border-bottom: 1px solid rgba(var(--border-color), 1);

        @include max(991px) {
            padding: 0 0 14px;
        }

        h2 {
            font-size: 18px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);
        }

        .btn {
            display: block;
            color: rgba(var(--danger-color), 1);
            padding: 0;
            // font-weight: 500;
            font-size: 14px;
            text-decoration: underline;

            // &:hover {
            //     text-decoration: none;
            // }
        }

        // a {
        //     display: block;
        //     color: rgba(var(--primary-color), 1);

        //     &:hover {
        //         color: rgba(var(--primary-color), 1);
        //     }
        // }
    }

    ul {
        @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 9px);
        padding-top: 15px;
        border-top: 1px solid rgba(var(--border-color), 1);
        margin-top: 15px;

        li {
            padding: calc(5px + (9 - 5) * ((100vw - 320px) / (1920 - 320))) calc(5px + (11 - 5) * ((100vw - 320px) / (1920 - 320)));
            background-color: rgba(var(--base-gray), 1);
            position: relative;
            display: flex;
            align-items: center;
            gap: 6px;
            border-radius: 6px;

            &:after {
                @include pos($pos: relative, $content: "\eb99");
                @include font;
                color: rgba(var(--content-color), 1);
                cursor: pointer;
                line-height: 1;
                margin-top: -2px;
            }

            a {
                color: rgba(var(--content-color), 1);
            }
        }
    }
}

.left-box {
    position: sticky;
    top: 94px;

    @include max(991px) {
        @include pseudowh($width: 300px, $height: 100%);
        border-right: unset;
        position: fixed;
        top: 0;
        left: -350px;
        background-color: rgba(var(--white), 1);
        z-index: 1041;
        overflow: scroll auto;
        transition: all 0.3s ease-in-out;
        // overflow-x: scroll;
        // overflow-y: auto;
        // transition: all 0.5s ease;
        // overflow-x: scroll;
        // overflow-y: auto;
        // transition: all 0.3s ease-in-out;
    }

    &.right-box {
        border-right: unset;
        border-left: 1px solid rgba(var(--content-color), 0.3);

        @include max(991px) {
            border-left: unset;
            left: unset;
            right: -350px;
        }

        &.show {
            left: unset;
            right: 0;
        }
    }

    &.show {
        left: 0;
    }

    .shop-left-sidebar {
        @include max(991px) {
            padding: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
        }

        .filter-category-2 {
            padding: 20px;
            margin-bottom: 20px;

            @include max(991px) {
                padding: 0;
            }

            .filter-title {
                padding: 0 0 calc(11px + (15 - 11) * ((100vw - 320px) / (1920 - 320))) 0;

                a {
                    color: rgba(var(--danger-color), 1);
                    text-decoration: underline;
                }
            }

            ul {
                border-top: none;
                padding: 0;
                margin-top: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
            }
        }

        &.shop-right-sidebar {
            padding-left: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
            padding-right: unset;

            @include max(991px) {
                padding: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
            }

            .back-button {
                h3 {
                    i {
                        margin-right: auto;
                        margin-left: 0;
                    }
                }
            }
        }

        .back-button {
            display: none;

            @include max(991px) {
                position: sticky;
                top: 0;
                z-index: 1;
                text-align: unset;
                display: block;
                margin-bottom: 26px;
                background-color: rgba(var(--base-gray), 1);
                margin-top: calc(-16px + (-26 - -16) * ((100vw - 320px) / (1920 - 320)));
                width: calc(100% + calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320))) + calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320))));
                margin-left: calc(-16px + (-26 - -16) * ((100vw - 320px) / (1920 - 320)));
                padding: 15px 15px 11px;
            }

            h3 {
                display: flex;
                align-items: center;
                font-weight: 600;

                i {
                    margin-right: 10px;
                }
            }
        }

        .search-box {
            position: relative;
            margin-bottom: 20px;

            .search-button {
                position: absolute;
                @include center(vertical);
                right: 0;
                border-left: 1px solid rgba(var(--border-color), 1);
                font-size: 15px;
                padding: 0 10px;
                height: 60%;
                display: flex;
                align-items: center;
                color: rgba(var(--content-color), 1);
            }

            .form-control {
                padding: 11px 46px 11px 11px;
                border: 1px solid rgba(var(--border-color), 1);
                border-radius: 6px;
                background-color: rgba(var(--white), 1);
            }
        }

        .custom-accordion-2 {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 22px);

            @include max(991px) {
                gap: 0;
            }

            .accordion-item {
                background-color: rgba(var(--white), 1);
                border: none;
                width: 100%;
                border-radius: 6px;
                padding: 20px;

                &:has(.accordion-collapse.collapse:not(.show)) {
                    .accordion-header {
                        padding-bottom: 0;
                    }
                }

                @include max(991px) {
                    padding: 0;
                    border-radius: 0;

                    +.accordion-item {
                        margin-top: 14px;
                        padding-top: 14px;
                        border-top: 1px solid rgba(var(--border-color), 1);
                    }
                }

                .accordion-header {
                    padding-bottom: calc(6px + (15 - 6) * ((100vw - 320px) / (1920 - 320)));
                    transition: padding-bottom 0.35s ease;

                    .accordion-button {
                        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                        padding: 0;
                        font-weight: 500;
                        margin: 0;
                        background-color: transparent;
                        justify-content: space-between;

                        &.collapsed {
                            &::before {
                                content: "\ea13";
                                transform: rotate(180deg);
                            }
                        }

                        &:focus {
                            border-color: unset;
                            box-shadow: none;
                        }

                        &::after {
                            content: none;
                        }

                        &::before {
                            @include pos($pos: relative, $content: "\f1af");
                            @include font;
                            @include pseudowh($width: calc(22px + (26 - 22) * ((100vw - 320px) / (1920 - 320))), $height: calc(22px + (26 - 22) * ((100vw - 320px) / (1920 - 320))));
                            @include flex_common;
                            order: 1;
                            inset: unset;
                            background-color: rgba(var(--base-gray), 1);
                            font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                            border-radius: 100%;
                            transition: all .3s ease-in-out;
                        }

                        &:not(.collapsed) {
                            color: rgba(var(--title-color), 1);
                            background-color: transparent;
                            box-shadow: none;
                        }
                    }
                }

                .accordion-collapse {
                    border-top: 1px solid rgba(var(--border-color), 1);

                    .accordion-body {
                        padding: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320))) 0 0;
                    }
                }

                .price-range-slider {
                    // .slider-container {
                    //     max-width: 400px;
                    //     background: #fff;
                    //     padding: 20px;
                    //     border-radius: 12px;
                    //     box-shadow: 0px 4px 10px rgba(82, 77, 141, 0.1);
                    // }

                    .price-values {
                        display: flex;
                        // justify-content: space-between;
                        margin-top: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                        // font-weight: bold;
                        // color: #524d8d;

                        span {
                            color: rgba(var(--title-color), 1);
                            width: 100%;
                            font-weight: 500;
                            font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
                            text-align: center;
                            border: none;
                            border-bottom: 1px solid rgba(var(--border-color), 1);
                            background-color: transparent;
                            outline: none;

                            &.dass {
                                width: 70px;
                                border: none;
                            }
                        }
                    }

                    .range-slider {
                        position: relative;
                        height: calc(3px + (5 - 3) * ((100vw - 320px) / (1920 - 320)));
                        background: rgba(var(--base-gray), 1);
                        border-radius: 5px;

                        input {
                            position: absolute;
                            width: 100%;
                            height: calc(3px + (5 - 3) * ((100vw - 320px) / (1920 - 320)));
                            top: -6px;
                            background: none;
                            pointer-events: none;
                            appearance: none;

                            &::-webkit-slider-thumb {
                                appearance: none;
                                pointer-events: all;
                                width: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
                                height: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
                                margin-top: 11px;
                                border-radius: 100%;
                                background: rgba(var(--dark-blue), 1);
                                cursor: pointer;
                            }
                        }
                    }

                    .range-fill {
                        position: absolute;
                        height: calc(3px + (5 - 3) * ((100vw - 320px) / (1920 - 320)));
                        background: rgba(var(--dark-blue), 1);
                        border-radius: 5px;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }

        .left-title {
            margin-bottom: 20px;
            margin-top: 32px;

            h3 {
                font-weight: 700;
            }
        }

        .custom-nav-tab {
            gap: calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));

            .nav-item {
                @include pseudowh($width: 100%, $height: 60px);
                background-color: #f7f6f3;
                border-radius: 6px;
                display: flex;
                overflow: hidden;

                .nav-link {
                    width: 100%;
                    text-align: left;
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(var(--title-color), 1);
                    border-radius: unset;
                    position: relative;
                    @include rtl(text-align, left, right);

                    &:hover(not) {
                        img {
                            @include pseudowh($width: 75px, $height: 75px);
                            transform: translateY(-50%) rotate(-4deg);
                            right: -12px;
                            opacity: 0.45;
                        }
                    }

                    &:hover {
                        img {
                            @include pseudowh($width: 75px, $height: 75px);
                            transform: translateY(-50%) rotate(-4deg);
                            right: -12px;
                            opacity: 0.29;
                        }
                    }

                    &.active {
                        color: rgba(var(--white), 1);
                        background: linear-gradient(90.56deg, rgba(var(--primary-color1), 1) 8.46%, rgba(var(--primary-color), 1) 62.97%);
                        font-size: 19px;
                        font-weight: 600;

                        img {
                            @include center(vertical);
                            @include pseudowh($width: 90px, $height: 90px);
                            position: absolute;
                            right: -10px;
                            filter: invert(1);
                            opacity: 0.4;
                        }
                    }

                    img {
                        @include center(vertical);
                        @include pseudowh($width: 70px, $height: 70px);
                        position: absolute;
                        right: -10px;
                        opacity: 0.1;
                        transition: all 0.15s ease-in-out;
                    }
                }
            }
        }
    }

    .special-offer-box {
        margin-top: 20px;
        padding: 15px;
        height: auto;
        background-color: rgba(var(--white), 1);
    }
}

.shop-section {
    z-index: unset;
    position: relative;

    .banner-main-box {
        position: relative;
        border-radius: calc(7px + (11 - 7) * ((100vw - 320px) / (1920 - 320)));
        overflow: hidden;
        display: block;

        .banner-image {
            // height: 380px;
            display: block;

            img {
                // aspect-ratio: 18 / 5;
                height: calc(270px + (350 - 270) * ((100vw - 320px) / (1920 - 320)));
                object-position: center;
                @extend %img-cover;
            }
        }

        .banner-contain {
            @include pseudowh;
            position: absolute;
            top: 0;
            margin-left: auto;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: rgba(var(--white), 1);
            text-align: center;

            h2 {
                font-size: calc(40px + (67 - 40) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: calc(-6px + (-14 - -6) * ((100vw - 320px) / (1920 - 320)));
                text-transform: capitalize;
            }

            h4 {
                font-size: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 400;
                margin-top: 13px;
                text-transform: capitalize;
                color: rgba(var(--white), 0.6);
            }
        }

        .sale-box {
            position: absolute;
            top: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
            right: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
            background-color: rgba(var(--white), 1);
            border-radius: calc(5px + (7 - 5) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
            padding: calc(9px + (11 - 9) * ((100vw - 320px) / (1920 - 320))) calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320))) calc(7px + (9 - 7) * ((100vw - 320px) / (1920 - 320)));
            text-align: center;

            // h5 {
            //     font-size: 16px;
            // }

            h6 {
                font-weight: 400;
                color: rgba(var(--content-color), 1);
                font-size: 13px;
            }
        }
    }

    .show-button-2 {
        margin-bottom: 14px;
        padding: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
        background-color: rgba(var(--white), 1);
        border-radius: 5px;

        .filter-button {
            display: block;
            color: rgba(var(--white), 1);

            a {
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 500;
                padding: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
                background-color: rgba(var(--primary-color), 1);
                color: rgba(var(--white), 1);
                border-radius: 5px;
                display: inline-block;
            }
        }

        .filter-button-group {
            display: flex;
            align-items: center;
            margin-top: 30px;

            .sort-by-button {
                color: rgba(var(--white), 1);
                margin-left: auto;

                a {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 600;
                    padding: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320))) calc(9px + (12 - 9) * ((100vw - 320px) / (1920 - 320)));
                    background-color: rgba(var(--primary-color), 1);
                    border-radius: 5px;
                    display: inline-block;
                }
            }
        }

        .filter-dropdown {
            @include flex_wrap ($dis: flex, $wrap: wrap, $gap: 8px);
            align-items: center;
        }

        .top-filter-menu {
            display: flex;
            align-items: center;

            @include max(991px) {
                margin-top: 0;
            }

            .sidebar-filter-menu {
                a {
                    border: none;
                    background-color: rgba(var(--light-gray), 1);
                    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                    padding: calc(9px + (10 - 9) * ((100vw - 320px) / (1920 - 320))) 15px;
                    border-radius: 5px;
                    color: rgba(var(--content-color), 1);
                }
            }

            .category-dropdown-2 {
                display: flex;
                align-items: center;

                h5 {
                    @include max(360px) {
                        display: none;
                    }
                }

                .dropdown {
                    margin-left: 10px;

                    @include max(360px) {
                        margin-left: 0;
                    }

                    .dropdown-toggle {
                        @include flex_common;
                        border: none;
                        background-color: rgba(var(--light-gray), 1);
                        font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                        padding: calc(9px + (10 - 9) * ((100vw - 320px) / (1920 - 320))) 15px;
                        border-radius: 5px;
                        color: rgba(var(--content-color), 1);
                        flex-wrap: wrap;
                        gap: 10px;

                        &::after {
                            content: none;
                        }

                        i {
                            margin-top: -3px;
                            line-height: 1;
                        }
                    }

                    .dropdown-menu {
                        background-color: rgba(var(--light-gray), 1);
                        border: none;

                        li {
                            display: block;

                            a {
                                font-size: 14px;

                                &:hover,
                                &:focus {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }

            .grid-option-2 {
                margin-left: auto;

                ul {
                    @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))));
                    align-items: center;

                    li {
                        @include pseudowh($width: 35px, $height: 35px);
                        border-radius: 5px;
                        background-color: rgba(var(--light-gray), 1);

                        a {
                            @include flex_common;
                            @include pseudowh;

                            svg {
                                @include pseudowh($width: 17px, $height: 17px);
                            }
                        }

                        &.active {
                            background: rgba(var(--primary-color3), 1);

                            img {
                                filter: invert(1) brightness(100);
                            }
                        }
                    }
                }
            }
        }

        .category-dropdown {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));

            .dropdown {
                margin-left: 10px;

                .dropdown-toggle {
                    @include flex_common ($dis: flex, $align: center, $justify: space-between);
                    border: none;
                    background-color: rgba(var(--content-color), 0.05);
                    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
                    padding: 12px 15px 9px;
                    border-radius: 5px;
                    color: rgba(var(--content-color), 1);
                    flex-wrap: nowrap;
                    gap: 10px;
                    width: 150px;

                    &::after {
                        content: none;
                    }

                    i {
                        margin-top: -3px;
                        line-height: 1;
                    }

                    span {
                        white-space: normal;
                        @include line($line: 1);
                    }
                }

                .dropdown-menu {
                    background-color: rgba(var(--white), 1);
                    border: none;
                    box-shadow: var(--shadow-2);

                    li {
                        display: block;

                        a {
                            font-size: 14px;

                            &:hover,
                            &:focus,
                            &:active {
                                background-color: rgba(var(--base-gray), 1);
                                color: rgba(var(--title-color), 1);
                            }
                        }
                    }
                }
            }

            &:has(.seller-title) {
                // justify-content: space-between;
                width: 100%;
            }

            h5 {
                margin-top: 3px;
            }

            .seller-title {
                h4 {
                    margin-top: 3px;
                    font-weight: 600;
                    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
                }
            }

            >.d-flex.align-items-center {
                margin-left: auto;

                @include max(400px) {
                    margin-left: unset;
                }
            }
        }

        .grid-option {
            margin-left: auto;

            ul {
                @include flex_wrap ($dis: flex, $wrap: wrap, $gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))));
                align-items: center;

                li {
                    @include pseudowh($width: 35px, $height: 35px);
                    border-radius: 5px;
                    background: linear-gradient(149.8deg, rgba(var(--light-gray), 1) 17.21%, #FBFAF9 79.21%);

                    a {
                        @include flex_common;
                        @include pseudowh;

                        svg {
                            @include pseudowh($width: 17px, $height: 17px);
                        }
                    }

                    button {
                        @include flex_common;
                        @include pseudowh;
                        padding: 6px;

                        svg {
                            @include pseudowh($width: 100%, $height: 16px);
                            fill: rgba(var(--title-color), 0.8);
                        }
                    }

                    &.active {
                        background: rgba(var(--primary-color), 1);

                        // img {
                        //     filter: invert(1) brightness(100);
                        // }

                        svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        &-box {
            margin-block: 25px;
        }
    }

    .product-filter-box {
        margin-bottom: 14px;
        padding: 10px;
        background-color: rgba(var(--white), 1);
        border-radius: 5px;
        display: flex;
        align-items: flex-start;

        .product-filter {
            display: flex;
            align-items: center;
            gap: 6px;
            flex-wrap: wrap;

            li {
                padding: 9px 34px 9px 11px;
                background-color: rgba(var(--light-gray), 1);
                position: relative;

                &::before {
                    content: "\eb99";
                    position: absolute;
                    @include center(vertical);
                    font-family: remixicon;
                    font-style: normal;
                    right: 13px;
                    color: rgba(var(--content-color), 1);
                    cursor: pointer;
                }

                a {
                    color: rgba(var(--content-color), 1);
                }
            }
        }

        .clear-btn {
            padding: 9px 11px;
            background-color: rgba(var(--primary-color3), 1);
            position: relative;
            font-size: 14px;
            margin-left: auto;
            color: rgba(var(--white), 1);
            border-radius: 5px;
        }
    }

    .top-filter-category {
        @include pseudowh($width: 100%, $height: 0);
        padding: 0 24px;
        background-color: rgba(var(--white), 1);
        box-shadow: 0 2px 9px rgba(var(--title-color), 0.07);
        border-radius: 6px;
        margin-bottom: 0;
        overflow: hidden;
        transition: all 0.15s ease-in-out;

        &.show {
            padding: 24px;
            height: auto;
            margin-bottom: 22px;
        }

        >.row {
            >div {
                border-right: 1px solid #ececec;

                &:last-child {
                    border: none;
                }

                @include max(1199px) {
                    &:nth-child(4n-2) {
                        border-right: none;
                    }
                }

                @include max(767px) {
                    border: none;
                }
            }
        }
    }

    .seller-box {
        border: none;
        padding: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));

        >div {
            padding: 0;

            +div {
                border: none;
            }
        }

        .seller-head {
            flex-direction: column;
            gap: 8px;

            .seller-name {
                width: 100%;

                a {
                    display: block;
                    line-height: 1.3;
                }

                .rating {
                    margin: 0;
                }
            }
        }

        .details {
            font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.5;
            font-weight: 400;
            color: rgba(var(--content-color), 0.8);
            margin-top: calc(9px + (15 - 9) * ((100vw - 320px) / (1920 - 320)));
            @include line($line: 4)
        }

        .category-list {
            gap: 4px;
            margin-top: 6px;

            li {
                display: inline-block;
                width: auto;
                text-transform: capitalize;
                // background-color: red;
                background-color: rgba(var(--content-color), 0.09);
                color: rgba(var(--content-color), 0.8);
                padding: calc(5px + (6 - 5) * ((100vw - 320px) / (1920 - 320))) calc(7px + (9 - 7) * ((100vw - 320px) / (1920 - 320))) calc(4px + (5 - 4) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                border-radius: calc(3px + (5 - 3) * ((100vw - 320px) / (1920 - 320)));
                transition: all .2s ease-in-out;
                line-height: 1;

                &:hover {
                    background-color: rgba(var(--primary-color), 0.15);
                    color: rgba(var(--primary-color), 1);
                }
            }
        }

        .seller-bottom {
            margin-top: 20px;

            .product-list {
                display: flex;
                align-items: center;

                li {
                    width: calc(34px + (40 - 34) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(34px + (40 - 34) * ((100vw - 320px) / (1920 - 320)));
                    border-radius: 100%;
                    background-color: rgba(var(--base-gray), 1);
                    padding: calc(5px + (7 - 5) * ((100vw - 320px) / (1920 - 320)));
                    @include flex_common;
                    transition: transform 0.15s ease-in-out;

                    &:hover {
                        transform: translateY(calc(-3px + (-6 - -3) * ((100vw - 320px) / (1920 - 320))));
                    }

                    &:first-child {
                        background-color: #fff4d7;
                    }

                    &:nth-child(2) {
                        background-color: #ffe7e7;
                    }

                    &:nth-child(3) {
                        background-color: #dbf6ff;
                    }

                    &:nth-child(4) {
                        background-color: #e9e8ff;
                    }

                    &:nth-child(5) {
                        background-color: #dbf6d2;
                    }

                    +li {
                        margin-left: calc(-15px + (-17 - -15) * ((100vw - 320px) / (1920 - 320)));
                    }

                    img {
                        @extend %img-contain;
                    }

                    span {
                        padding-top: 3px;
                        color: rgba(var(--content-color), 1);
                    }
                }
            }
        }

        &-2 {
            height: 100%;

            .seller-head {
                flex-direction: unset;
                gap: 14px;
            }

            .seller-contain {
                &:has(.details) {
                    .details-list {
                        margin-top: 10px;
                    }
                }

                .details-list {
                    padding-top: 10px;
                    border-top: 1px solid rgba(var(--border-color), 1);


                    li {
                        span {
                            font-size: 15px;
                        }

                        h5 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

.category-slider-section {
    .category-contain {
        .category-contain-image {
            background: linear-gradient(149.8deg, rgba(var(--light-gray), 1) 17.21%, #FBFAF9 79.21%);
            padding: 22px;
            border-radius: 8px;

            img {
                @include pseudowh($width: 150px, $height: 150px);
                object-fit: contain;
                margin: 0 auto;
            }
        }

        .category-contain-name {
            margin-top: 12px;
            text-align: center;

            h5 {
                color: rgba(var(--content-color), 1);
                font-weight: 500;
            }
        }
    }
}

.product-list-section {
    .product-box-4 {
        .product-content {
            .product-details {
                line-height: 1.5;
                @include line($line: 2);
                display: none;
            }
        }
    }

    &.list-style {
        >div {
            width: 100%;

            .product-box-4-main {
                .product-box-4 {
                    display: flex;
                    align-items: center;
                    gap: calc(9px + (22 - 9) * ((100vw - 320px) / (1920 - 320)));

                    @include max(575px) {
                        display: block;
                    }

                    .product-image {
                        @include pseudowh($width: calc(175px + (260 - 175) * ((100vw - 320px) / (1920 - 320))), $height: calc(175px + (260 - 175) * ((100vw - 320px) / (1920 - 320))));

                        @include max(575px) {
                            @include pseudowh($width: 100%, $height: calc(175px + (260 - 175) * ((100vw - 320px) / (1920 - 320))));
                        }
                    }

                    .product-content {
                        margin: 0;
                        width: calc(100% - calc(175px + (260 - 175) * ((100vw - 320px) / (1920 - 320))) - calc(9px + (22 - 9) * ((100vw - 320px) / (1920 - 320))));
                        position: relative;

                        @include max(575px) {
                            width: 100%;
                            margin-top: 10px;
                        }

                        .product-details {
                            display: -webkit-box;
                            margin-block: 6px 10px;
                            font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
                        }

                        .price {
                            margin: 0;
                        }

                        .option-box {
                            padding: 0;
                            bottom: -37px;
                            box-shadow: unset;
                            position: unset;
                            inset: unset;
                            opacity: 1;
                            visibility: visible;
                            background-color: transparent;
                            margin-top: 6px;
                            justify-content: unset;

                            .select-btn {
                                width: max-content;
                                padding: 10px 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}